body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background: #f1f1f1;
	color: #444;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size: 13px;
	line-height: 1.4em;
	min-width: 600px;
}
a, div {
	outline: 0;
}
a {
	color: #0073aa;
	transition-property: border,background,color;
	transition-duration: .05s;
	transition-timing-function: ease-in-out;
}
ul {
	list-style: none;
}
#wrap {
	height: auto;
	min-height: 100%;
	width: 100%;
	position: relative;
	-webkit-font-smoothing: subpixel-antialiased;
}
.screen-reader-shortcut {
	position: absolute;
	top: -1000em;
}
#adminmenuback {
	position: fixed;
	top: 0;
	bottom: -120px;
	z-index: 1;
}
#adminmenu, #adminmenu .submenu, #adminmenuback, #adminmenuwrap {
	width: 160px;
	background-color: #23282d;
}
.sticky-menu #adminmenuwrap {
	position: fixed;
}
#adminmenuwrap {
	position: relative;
	float: left;
	z-index: 9990;
}
#adminmenu {
	clear: left;
	margin: 12px 0;
	padding: 0;
	list-style: none;
}
#adminmenu li.menu-top {
	border: none;
	min-height: 34px;
	position: relative;
}
#adminmenu li {
	margin: 0;
	padding: 0;
	cursor: pointer;
}
#adminmenu .has-current-submenu .submenu .submenu-head, #adminmenu .menu-arrow, #adminmenu .menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.has-current-submenu a.has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.has-current-submenu {
	background: #0073aa;
	color: #fff;
}
#adminmenu * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#adminmenu li.menu-separator {
	height: 5px;
	padding: 0;
	margin: 0 0 6px 0;
	cursor: inherit;
}
#adminmenu li.menu-top {
	border: none;
	min-height: 34px;
	position: relative;
}
#adminmenu .submenu-head, #adminmenu a.menu-top {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.3;
}
#adminmenu div.menu-image {
	float: left;
	width: 36px;
	height: 34px;
	margin: 0;
	text-align: center;
}
#adminmenu div.menu-name {
	padding: 8px 0;
}
ul#adminmenu a.has-current-submenu::after, ul#adminmenu > li.current > a.current::after {
	right: 0;
	border: solid 8px transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #f1f1f1;
	top: 50%;
	margin-top: -8px;
}
#adminmenu a {
	display: block;
	line-height: 1.3;
	padding: 2px 5px;
	color: #eee;
}
#adminmenu a, #catlist a, #taglist a {
	text-decoration: none;
}
ul#adminmenu a.has-current-submenu {
	position: relative;
}
/* Content */
#content {
	margin-left: 160px;
}
#content {
	height: 100%;
	padding-left: 20px;
}
/* #adminbar */
#adminbar {
	direction: ltr;
	color: #ccc;
	font-size: 13px;
	font-weight: 400;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	line-height: 2.46153846;
	height: 32px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 600px;
	z-index: 99999;
	background: #23282d;
}
#adminbar a:active, #adminbar a:focus, #adminbar div, #adminbar input[type="email"], #adminbar input[type="number"], #adminbar input[type="password"], #adminbar input[type="search"], #adminbar input[type="text"], #adminbar input[type="url"], #adminbar select, #adminbar textarea {
	box-shadow: none;
}
#adminbar * {
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	position: static;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	font-size: 13px;
	font-weight: 400;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	line-height: 2.46153846;
	border-radius: 0;
	box-sizing: content-box;
	transition: none;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}
#adminbar a, #adminbar a img, #adminbar a img:hover, #adminbar a:hover {
	border: none;
	text-decoration: none;
	background: 0 0;
}
#adminbar .quicklinks ul {
	text-align: left;
}
#adminbar .ab-sub-wrapper, #adminbar ul, #adminbar ul li {
	background: 0 0;
	clear: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-indent: 0;
	z-index: 99999;
}
#adminbar ul#admin-bar-root-default > li {
	margin-right: 0;
}
li#admin-bar-menu-toggle {
	display: none;
}
#adminbar li {
	float: left;
}
#adminbar #admin-bar-my-sites a.ab-item, #adminbar #admin-bar-site-name a.ab-item {
	white-space: nowrap;
}
#adminbar .quicklinks > ul > li > a {
	padding: 0 8px 0 7px;
}
#adminbar .quicklinks .ab-empty-item, #adminbar .quicklinks a, #adminbar .shortlink-input {
	height: 32px;
	display: block;
	padding: 0 10px;
	margin: 0;
}
#adminbar .ab-empty-item, #adminbar a.ab-item, #adminbar > #toolbar span.ab-label, #adminbar > #toolbar span.noticon {
	color: #eee;
}
#adminbar .ab-icon, #adminbar .ab-item::before, #adminbar > #toolbar > #admin-bar-root-default .ab-icon, .admin-bar-arrow {
	position: relative;
	float: left;
	font: normal 20px/1 dashicons;
	padding: 4px 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: none !important;
	margin-right: 6px;
}
#adminbar #admin-bar-comments .count-0 {
	opacity: .5;
}
#adminbar .ab-label {
	display: inline-block;
	height: 32px;
}
#adminbar .screen-reader-text, #adminbar .screen-reader-text span {
	border: 0;
	clip: rect(1px,1px,1px,1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}
#adminbar .ab-top-secondary {
	float: right;
}
/* body */
#body {
	position: relative;
}
/* body content */
#body-content {
	padding-bottom: 65px;
	float: left;
	width: 100%;
	overflow: visible;
}
/* wrap */
.wrap {
	margin: 10px 20px 0 2px;
}
.postbox .inside h2, .wrap [class$="icon32"] + h2, .wrap h1, .wrap > h2:first-child {
	font-size: 23px;
	font-weight: 400;
	margin: 0;
	padding: 9px 0 4px 0;
	line-height: 1.3;
}
h1 {
	color: #23282d;
	font-size: 2em;
	margin: .67em 0;
}
h1, h2, h3, h4, h5, h6 {
	display: block;
	font-weight: 600;
}
.welcome-panel {
	position: relative;
	overflow: auto;
	margin: 16px 0;
	padding: 23px 10px 0;
	border: 1px solid #ccd0d4;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background: #fff;
	font-size: 13px;
	line-height: 1.7;
}
.welcome-panel-content {
	margin-left: 13px;
	max-width: 1500px;
}
.welcome-panel h2 {
	margin: 0;
	font-size: 21px;
	font-weight: 400;
	line-height: 1.2;
}
h2, h3 {
	color: #23282d;
	font-size: 1.3em;
	margin: 1em 0;
}
.welcome-panel .welcome-panel-column-container {
	clear: both;
	position: relative;
}
.wrap h1.heading-inline {
	display: inline-block;
	margin-right: 5px;
}
.postbox .inside h2, .wrap [class$="icon32"] + h2, .wrap h1, .wrap > h2:first-child {
	font-size: 23px;
	font-weight: 400;
	margin: 0;
	padding: 9px 0 4px 0;
	line-height: 1.3;
}
.wrap .heading-inline + .page-title-action {
	margin-left: 0;
}
.wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active {
	margin-left: 4px;
	padding: 4px 8px;
	position: relative;
	top: -3px;
	text-decoration: none;
	border: 1px solid #0071a1;
	border-radius: 2px;
	text-shadow: none;
	font-weight: 600;
	font-size: 13px;
	line-height: normal;
	color: #0071a1;
	background: #f3f5f6;
	cursor: pointer;
}
.header-end {
	visibility: hidden;
	margin: -2px 0 0;
}
hr {
	border: 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #fafafa;
}
.screen-reader-text, .screen-reader-text span, .ui-helper-hidden-accessible {
	border: 0;
	clip: rect(1px,1px,1px,1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}
.subsubsub {
	list-style: none;
	margin: 8px 0 0;
	padding: 0;
	font-size: 13px;
	float: left;
	color: #666;
}
.subsubsub li {
	display: inline-block;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
.ac_match, .subsubsub a.current {
	color: #000;
}
.subsubsub a {
	line-height: 2;
	padding: .2em;
	text-decoration: none;
}
p.search-box {
	float: right;
	margin: 0;
}
.screen-reader-text, .screen-reader-text span, .ui-helper-hidden-accessible {
	border: 0;
	clip: rect(1px,1px,1px,1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.search-box input[name="s"], .tablenav .search-plugins input[name="s"], .tagsdiv .newtag {
	float: left;
	margin: 0 4px 0 0;
}
input[type="search"] {
	-webkit-appearance: textfield;
}
input[type="date"], input[type="datetime-local"], input[type="datetime"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
	padding: 0 8px;
	line-height: 2;
	min-height: 30px;
}
input[type="color"], input[type="date"], input[type="datetime-local"], input[type="datetime"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], select, textarea {
	box-shadow: 0 0 0 transparent;
	border-radius: 4px;
	border: 1px solid #7e8993;
	background-color: #fff;
	color: #32373c;
}
input, textarea {
	font-size: 14px;
}
button, input, select, textarea {
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
p .button {
	vertical-align: baseline;
}
.button, .button-secondary {
	color: #0071a1;
	border-color: #0071a1;
	background: #f3f5f6;
	vertical-align: top;
}

.button, .button-primary, .button-secondary {
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 2.15384615;
	min-height: 30px;
	margin: 0;
	padding: 0 10px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
}

td {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}
table.fixed {
	table-layout: fixed;
}
.comment-ays, .feature-filter, .imgedit-group, .popular-tags, .stuffbox, .widgets-holder-wrap, .editor-container, p.popular-tags, table.widefat {
	background: #fff;
}
#menu-management .menu-edit, #menu-settings-column .accordion-container, .comment-ays, .feature-filter, .imgedit-group, .manage-menus, .menu-item-handle, .popular-tags, .stuffbox, .widget-inside, .widget-top, .widgets-holder-wrap, .editor-container, p.popular-tags, table.widefat {
	border: 1px solid #ccd0d4;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
.widefat {
	border-spacing: 0;
	width: 100%;
	clear: both;
	margin: 0;
}
.widefat * {
	word-wrap: break-word;
}
.widefat tfoot td.check-column, .widefat thead td.check-column {
	padding-top: 4px;
	vertical-align: middle;
}
.updates-table tbody td.check-column, .widefat tbody th.check-column, .widefat tfoot td.check-column, .widefat thead td.check-column {
	padding: 11px 0 0 3px;
}
.widefat .check-column {
	width: 2.2em;
	padding: 6px 0 25px;
	vertical-align: top;
}
.widefat tfoot tr td, .widefat tfoot tr th, .widefat thead tr td, .widefat thead tr th {
	color: #32373c;
}
.widefat tfoot td, .widefat th, .widefat thead td {
	font-weight: 400;
}
#nav-menu-footer, #nav-menu-header, #your-profile #rich_editing, .checkbox, .control-section .accordion-section-title, .menu-item-handle, .postbox .hndle, .side-info, .sidebar-name, .stuffbox .hndle, .widefat tfoot td, .widefat tfoot th, .widefat thead td, .widefat thead th, .widget .widget-top {
	line-height: 1.4em;
}
.widefat tfoot td, .widefat th, .widefat thead td {
	text-align: left;
	line-height: 1.3em;
	font-size: 14px;
}
.widefat thead td, .widefat thead th {
	border-bottom: 1px solid #ccd0d4;
}
.widefat td, .widefat th {
	padding: 8px 10px;
}

.widefat td, .widefat th {
	color: #555;
}
.widefat td, .widefat td ol, .widefat td p, .widefat td ul {
	font-size: 13px;
	line-height: 1.5em;
}
.widefat td {
	vertical-align: top;
}
th.sortable a, th.sorted a {
	display: block;
	overflow: hidden;
	padding: 8px;
}
.list-table a {
	transition: none;
}
.widefat a, .widefat button.button-link {
	text-decoration: none;
}
th.sortable a span, th.sorted a span {
	float: left;
	cursor: pointer;
}
.sorting-indicator {
	display: block;
	visibility: hidden;
	width: 10px;
	height: 4px;
	margin-top: 8px;
	margin-left: 7px;
}
.fixed .column-author, .fixed .column-format, .fixed .column-links, .fixed .column-parent, .fixed .column-posts {
	width: 10%;
}
.fixed .column-categories, .fixed .column-rel, .fixed .column-response, .fixed .column-role, .fixed .column-tags {
	width: 15%;
}
.fixed .column-comments {
	width: 5.5em;
	padding: 8px 0;
	text-align: left;
}
.fixed .column-date {
	width: 14%;
}
.alternate, .striped > tbody > :nth-child(2n+1), ul.striped > :nth-child(2n+1) {
	background-color: #f9f9f9;
}

