@font-face {
    font-family: 'merienda_oneregular';
    src: url('../fonts/meriendaone-regular-webfont.woff2') format('woff2'),
         url('../fonts/meriendaone-regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'fondamentoregular';
    src: url('../fonts/fondamento-regular-webfont.woff2') format('woff2'),
         url('../fonts/fondamento-regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
html {
    font-size: 100%;
    font-family: 'merienda_oneregular', Arial, sans-serif, serif;
    font-weight: 400;
    color: #FFF;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
/*  "reset" */
html, body {
	margin:0;
	padding:0;
}
body {
    font-size: 1rem;
    background-color: #025AA0;

    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    font-family: 'fondamentoregular', Arial, sans-serif, serif;
    font-size: 1.25rem;
    background: #025AA0;
    padding: 0 15px;
}
a {
    color: white;
    text-decoration: none;
}
nav li {
    list-style-type: none;
}
.logo {
    font-size: 1.6rem;
    padding: 7.5px 10px 7.5px 0;
}
.item {
    font-size: 1.3rem;
    padding: 10px;
}
.item.button {
    padding: 9px 5px;
}
.item:not(.button) a:hover, .item a:hover::after {
    color: #ccc;
}
.item.button a {
    color: #025AA0;
    background-color: white;
}
/* Règles CSS après la barre de navigation */
/* Mobile menu Nokia 8110 - 240px*320px and DPR=1 */
header h1 {
    position: absolute;
    top: 98%;
    left: 9%;
    font-size: 11px;
}
.classImg {
    display: flex;
}
.classImg img {
    margin: auto;
    width: 91vw;
    height: auto;
    border-radius: 6%;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
section h2 {
    font-family: 'fondamentoregular', Arial, sans-serif, serif;
}
.sectionControlPanel, .sectionControlPanelMyProfile, .sectionControlPanelListOfEpisodes, .sectionControlPanelCreateOfEpisode, .sectionControlPanelComments {
    display: flex;
    flex-direction: column;
}
article {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: whitesmoke;
    border: 3px solid rgb(242, 243, 248);
    border-radius: 20px;
    background-color: #025AA0;
}
article:last-child {
    margin-bottom: 20px;
}
article h3, article h4, article h5 {
    color: #FFF;
    padding-left: 7%;
    font-family: 'fondamentoregular', Arial, sans-serif, serif;
}
article h5 {
    margin-bottom: 0;
    padding-left: 2.5%;
    margin-top: 1.25rem;
}
p {
    line-height: 1.7;
    padding: 0 4%;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'open_sansregular';
}
.pTitleIntroductionToTheEpisode, .pComment {
    font-weight: 600;
}
.pIntroductionToTheEpisode {
    font-family: 'ralewayregular','open_sansregular', sans-serif;
}
.pCreatedAt {
    font-family: 'merienda_oneregular', Arial, sans-serif, serif;
    text-align: end;
}
/* Mise en forme de l'affichage des commentaires */
.sectionDisplayComments p {
    font-family: 'ralewayregular','open_sansregular', sans-serif;
}
.pPseudoComments {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 11px;
    margin-bottom: 11px;
    font-weight: 600;
}
.pDateComments {
    color: #F5F5F5;
}
.pApproveComments {
 /*color: #33ff8a;*/
 color: #33ff36;
}
.pReportComments, .pApproveComments {
    font-weight: 900;
}
/* Mise en forme de l'affichage de publication d'un commentaire */
.sectionPostComment {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: whitesmoke;
    border: 3px solid rgb(242, 243, 248);
    border-radius: 20px;
    background-color: #025AA0;
}
.sectionH4TitlePostComment {
    margin-left: 1rem;  /* avant 20px */
    margin-top: 1.5rem;
}
form {
    box-sizing: border-box;
}
form p, form input, form textarea, form .inputTypeSubmitPublishComment, .inputTypeSubmitValidateLogin,
 .inputTypeSubmitRenewPassword, .inputTypeSubmitChangePassword, .inputTypeSubmitSaveDraft, .inputTypeSubmitPreview,
  .inputTypeSubmitPublish {
    font-family: 'ralewayregular','open_sansregular', sans-serif;
}
form p {
    margin-top: 3%;
    margin-bottom: 3%;
}
label {
    display: block;
}
/* Couleur de fond #025AA0 , => color: #e2e2e2; Ratio : 5.45, #FFFFF7; Ratio : 7.03 */
span {
    color: #e2e2e2;
}
textarea {
    width: 100%;
}
input[type="text"],input[type="password"], input[type="email"], textarea {
    transition: border 3s ease, background-color 3s ease, color 3s ease;
    border: inset #e2e2e2;
    background-color: #FFF;
    color: #000000;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px;
}
input[name="author"] {
    text-transform: uppercase;
}
.commentForm input[type="text"] {
    max-width: 98%;
}
input:focus, textarea:focus {
    transition: border 2s ease, background-color 2s ease, color 2s ease;
    border: dashed #023E6E;
    background-color: #e2e2e2;
    color: #023E6E;
}
.buttonReport {
    display:inline-flex;
    width: 100%;
}
.loginFormPseudo label, .loginFormEmail label, .loginFormPassword label,.loginFormNewPassword label, .loginFormNewPassword2 label, label[for=email], th, td,
 .loginFormTitle label, .loginFormContent label {
    color:#f5f5f5;
}
.loginFormPseudo span, .loginFormEmail span, .loginFormPassword span, .loginFormNewPassword span, .loginFormNewPassword2 span, .aNewPassword, .aNewPassword span,
 .loginFormTitle span, .loginFormContent span {
    color:#ebebeb;
}
.checkbocRemenberLogin {
    display: inline-flex;
}
form input[type="checkbox"] {
    padding: 15px;
}
label[for=remenberLogin] {
    color: rgba(0, 0, 0, 0.92);
}
.aNewPassword {
    text-decoration: underline;
}
.linkToTheRestOfThePost, .linkReadTheEntireEpisode, .inputTypeSubmitPublishComment, .linkToTheReportOfThePostComment, .inputTypeSubmitValidateLogin, .inputTypeSubmitRenewPassword ,
 .inputTypeSubmitChangePassword, .inputTypeSubmitSaveDraft, .inputTypeSubmitPreview, .inputTypeSubmitPublish,
  .homeTab, .myProfileTab, .episodeListTab, .createAnEpisodeTab, .commentsTab, .logoutTab {
    width: 8rem;
    text-align: center;
    transition: border 1.3s ease, background-color 1.3s ease, color 0.7s ease;
    background-color: #FFF;
    color: #013E70;
    border: inset #013E70;
    border-radius: 2em;
    padding: 10px 10px;
    font-weight: 600;
    font-family: 'fondamentoregular', Arial, sans-serif, serif;
    margin-left: 4.5%;
    margin-bottom: 4%;
    align-self: flex-start;
}
.homeTitle, .myProfileTitle, .episodeListTitle, .createAnEpisodeTitle, .commentsTitle, .logoutTitle {
    width: auto;
    text-align: center;
    background-color: #FFF;
    color: #013E70;
    border: inset #013E70;
    border-radius: 2em;
    padding: 10px 10px;
    font-weight: 600;
    font-family: 'fondamentoregular', Arial, sans-serif, serif;
}
.inputTypeSubmitRenewPassword, .inputTypeSubmitChangePassword, .inputTypeSubmitSaveDraft, .inputTypeSubmitPreview, .inputTypeSubmitPublish {
    width: auto;
}
.linkReadTheEntireEpisode {
    width: 12rem;
}
.inputTypeSubmitPublishComment, .inputTypeSubmitValidateLogin, .inputTypeSubmitRenewPassword, .inputTypeSubmitChangePassword,
 .inputTypeSubmitSaveDraft, .inputTypeSubmitPreview, .inputTypeSubmitPublish {
    cursor: pointer;
}
/* Voir a divers pixels et adapter valeurs, pas la bonne methode enlever et voir avec flexbox */
.linkToTheReportOfThePostComment {
    margin-left: 72.5%;
}
.divLinkPage {
    display: flex;
}
.linkPreviousPost, .linkNextPost {
    display: inline-flex;
    text-align: center;
    transition: border 1.3s ease, background-color 1.3s ease, color 0.7s ease;
    background-color: #FFF;
    color: #013E70;
    border: inset #013E70;
    border-radius: 2em;
    padding: 10px 10px;
    font-weight: 600;
    font-family: 'fondamentoregular', Arial, sans-serif, serif;
    margin-top: 2.5%;
    margin-left: 17.5%;
}
.linkPreviousPage, .linkNextPage {
    display: inline-flex;
    transition: border 1.3s ease, background-color 1.3s ease, color 0.7s ease;
    background-color: #FFF;
    color: #013E70;
    border: inset #013E70;
    border-radius: 2em;
    padding: 10px 10px;
    font-weight: 600;
    font-family: 'fondamentoregular', Arial, sans-serif, serif;
    margin-top: 2.5%;
}

.linkToTheRestOfThePost:hover, .linkReadTheEntireEpisode:hover, .inputTypeSubmitPublishComment:hover, .linkToTheReportOfThePostComment:hover,
 .linkPreviousPost:hover, .linkNextPost:hover, .linkPreviousPage:hover, .linkNextPage:hover, .inputTypeSubmitValidateLogin:hover, .inputTypeSubmitRenewPassword:hover,
  .inputTypeSubmitChangePassword:hover, .inputTypeSubmitSaveDraft:hover, .inputTypeSubmitPreview:hover, .inputTypeSubmitPublish:hover,
  .homeTab:hover, .myProfileTab:hover, .episodeListTab:hover, .createAnEpisodeTab:hover, .commentsTab:hover, .logoutTab:hover {
    transition: border 2.5s ease, background-color 2.5s ease, color 2.0s ease;
    border: outset #e2e2e2;
    color: #FFF;
    background: linear-gradient( #0267a0, #025aa0);
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p {
    text-align: center;
    font-family: 'merienda_oneregular', Arial, sans-serif, serif;
}
/* Ajout marges pour un peu d espace */
article, section h2, article h3, .linkPreviousPost, .linkNextPost, .linkPreviousPage, .linkNextPage, footer {
    margin: 1.5rem 0rem;
}
.sectionPostComment, .pCreatedAt, .sectionH4TitleComments {
    margin-bottom: 3.5rem;
}
/* error message */
/* _alert.scss:48 */
.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
    border-color: #f5c6cb;
    text-align: center;
}
.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}
/* bootstrap style adminloginpage */
#body-sign-in {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
*, ::after, ::before {
	box-sizing: border-box;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.text-center {
	text-align: center !important;
}
.form-signin {
	width: 100%;
	max-width: 420px;
	padding: 15px;
	margin: auto;
}
.mb-3, .my-3 {
	margin-bottom: 1rem !important;
}
.mb-4, .my-4 {
	margin-bottom: 1.5rem !important;
}
.mt-5, .my-5 {
	margin-top: 3rem !important;
}
img {
	vertical-align: middle;
	border-style: none;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: .5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2;
}
.h3, h3 {
	font-size: 1.75rem;
}
.form-label-group {
	position: relative;
	margin-bottom: 1rem;
}
.form-label-group label {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	margin-bottom: 0;
	line-height: 1.5;
	color: #495057;
	pointer-events: none;
	cursor: text;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
	border: 0;
}
.form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
.form-label-group input, .form-label-group label {
	height: 3.125rem;
	padding: .75rem;
}
label {
	display: inline-block;
	margin-bottom: .5rem;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
button, input {
	overflow: visible;
}
button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn:hover {
	color: #212529;
	text-decoration: none;
}
.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}
.btn-primary:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
}
.btn-group-lg > .btn, .btn-lg {
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;
}
.btn-block {
	display: block;
	width: 100%;
}
.font-weight-normal {
	font-weight: 400 !important;
}
.text-muted {
    color: #6c757d !important;
    /* effacement des regles css de la balise p */
    width: auto;
}
.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}
.btn-dark {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}
.btn-dark:hover {
	color: #fff;
	background-color: #23272b;
	border-color: #1d2124;
}
/* Fin des styles css de bootstrap adminloginpage */
/* Mobile menu */
.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li a {
    display: block;
    padding: 15px 5px;
}
/* Mobile menu Nokia 8110 - 240px*320px and DPR=1 */
@media all and (min-width: 240px) and (min-resolution: 1dppx) {
    header h1 {
        top: 135%;
        left: 18%;
        font-size: 10px;
    }
}
/* Mobile menu Nokia 8110 - 240px*320px and DPR=1 */
@media all and (min-width: 320px) and (min-resolution: 1dppx) {
    header h1 {
        top: 156%;
        left: 20%;
        font-size: 13px;
    }
}
/* Mobile menu Iphon 5 - 320px*568px and DPR=2 */
@media all and (min-width: 320px) and (min-resolution: 2dppx) {
    header h1 {
        top: 66%;
        left: 20%;
        font-size: 13px;
    }
}
/* Mobile menu - 360px*640px and DPR=1 */
@media all and (min-width: 360px) and (min-resolution: 1dppx) {
    header h1 {
        top: 45%;
        left: 23%;
    }
}
/* Mobil menu Nexus 5 - 360px*640px and DPR=? */
@media all and (min-width: 360px) and (min-resolution: 2dppx) {
    header h1 {
        top: 51%;
    }
}
/* Mobil menu Galaxy Note3 - 360px*640px and DPR=3 */
@media all and (min-width: 360px) and (min-resolution: 3dppx) {
    header h1 {
        top: 59%;
    }
}
/* Mobile menu Microsoft Lumia 950 - 360px*640px and DPR=4 */
@media only screen and (device-width: 360px) and (device-height: 640px) and (min-resolution: 4dppx) {
    header h1 {
        top: 44%;
    }
}
/* Mobile menu Galasy S9 - 360px*740px and DPR=4 */
@media only screen and (device-width: 360px) and (device-height: 740px) and (min-resolution: 4dppx) {
    header h1 {
        top: 51%;
    }
}
/* Mobile menu Iphon 6/7/8 - 375px*667px and DPR=2 */
@media all and (min-width: 375px) and (min-resolution: 2dppx) {
    header h1 {
        top: 57%;
        left: 23%;
    }
}
/* Mobile menu Iphon X/XS - 375px*812px and DPR=3  */
@media all and (min-width: 375px) and (min-resolution: 3dppx) {
    header h1 {
        top: 46%;
        left: 27%;
    }
}
/* Mobile menu LG Optimus L70 - 384px*640px and DPR=1 */
@media all and (min-width: 384px) and (min-resolution: 1dppx) {
    header h1 {
        top: 59%;
        left: 27%;
    }
}
/* Mobile menu Pixel 2 - 411px*731px and DPR=2 */
@media all and (min-width: 411px) and (min-resolution: 2dppx) {
    header h1 {
        top: 52%;
        left: 28%;
    }
}
/* Mobile menu Pixel 2 XL - 411px*823px and DPR=3.5 */
@media all and (min-width: 411px) and (min-resolution: 3.5dppx) {
    header h1 {
        top: 46%;
    }
}
/* Mobile menu Nexus 6P - 412px*732px and DPR=3.5 */
@media all and (min-width: 412px) and (min-resolution: 3.5dppx) {
    header h1 {
        top: 52%;
    }
}
/* Mobile menu Iphon XR - 414px*896px and DPR=2 */
@media all and (min-width: 414px) and (min-resolution: 2dppx) {
    header h1 {
        top: 42%;
    }
}
/* Mobile menu Iphon 6/7/8 PLUS - 414px*736px and DPR=3 */
@media only screen and (device-width: 414px) and (device-height: 736px) and (min-resolution: 3dppx) {
    header h1 {
        top: 52%;
    }
}
/* Apple iPhone XS Max 2688x1242px at 458ppi Media Queries */
@media only screen and (device-width: 414px) and (device-height: 896px) and (min-resolution: 3dppx) {
    header h1 {
        top: 42%;
    }
}
/* Mobile menu Galaxy Note 9 - 414px*846px and DPR=3.5 */
@media all and (min-width: 414px) and (min-resolution: 3.5dppx) {
    header h1 {
        top: 45%;
    }
}
/* Mobile menu - 437px and DPR=1 */
@media all and (min-width: 437px) and (min-resolution: 1dppx) {
    header h1 {
        top: 33%;
    }
}
/* Mobile menu Iphon 5 - 320px*568px and DPR=2 */
@media all and (min-width: 568px) and (min-resolution: 2dppx) {
    header h1 {
        top: 122%;
        font-size: 19px;
    }
}
/* Tablet menu Blacberry Playbook - 600px*1024px and DPR=? */
@media all and (min-width: 600px) and (min-resolution: 1dppx) {
    header h1 {
        top: 30%;
        left: 23%;
        font-size: 19px;
    }
    p {
        width: 556px;
    }
}
/* Mobile menu Nexus 7 Android - 600px*960px and DPR=2 */
@media all and (min-width: 600px) and (min-resolution: 2dppx) {
    header h1 {
        top: 41%;
        left: 29%;
        font-size: 19px;
    }
    p {
        width: 556px;
    }
}
/* Mobile menu LG Optimus L70 - 384px*640px and DPR=1 */
@media all and (min-width: 640px) and (min-resolution: 1dppx) {
    header h1 {
        top: 101%;
        left: 26%;
        font-size: 22px;
    }
}
/* Mobile menu Microsoft Lumia 550 - 360px*640px and DPR=2 */
@media all and (min-width: 640px) and (min-resolution: 2dppx) {
    header h1 {
        top: 109%;
    }
}
/* Mobile menu Galaxy Note 3 - 360px*640px and DPR=3 */
@media all and (min-width: 640px) and (min-resolution: 3dppx) {
    header h1 {
        top: 109%;
    }
}
/* Mobile menu Iphon 6/7/8 - 375px*667px and DPR=2 */
@media all and (min-width: 667px) and (min-resolution: 2dppx) {
    header h1 {
        top: 104%;
        left: 28%;
        font-size: 22px;
    }
}
/* Tablet menu */
@media all and (min-width: 700px) {
    header h1 {
        top: 18%;
        left: 18%;
        font-size: 27px;
    }
    nav {
        display: flex;
        flex-direction: row;
    }
    .menu {
        flex-direction: row;
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    /* Button up from tablet screen */
    .menu li.button a {
      padding: 10px 15px;
      margin: 5px 0;
    }
    .button a {
      background: #0080ff;
      border: 1px royalblue solid;
    }
    .button a:hover {
      text-decoration: none;
    }
}
/* TV 720 HD - 720px*1280px DPR=1 */
@media all and (min-width: 720px) {
    header h1 {
        top: 12%;
        left: 19%;
    }
}
/* Mobile menu Iphon 6/7/8 PLUS - 414px*736px and DPR=3 */
@media all and (min-width: 736px) and (min-resolution: 3dppx) {
    header h1 {
        left: 23%;
    }
}
/* Mobile menu Pixel 2 - 411px*731px and DPR=2 */
@media all and (min-width: 731px) and (min-resolution: 2dppx) {
    header h1 {
        top: 37%;
        left: 23%;
    }
}
/* Mobile menu Nexus 5X - 412px*732px and DPR=2 */
@media all and (min-width: 732px) and (min-resolution: 2dppx) {
    header h1 {
        top: 37%;
        left: 23%;
    }
}
/* Iphon 6/7/8 Plus breakpoints 736px */
@media all and (min-width: 736px) {
    header h1 {
        top: 35%;
    }
}
/* Galaxy S9 breakpoints 740px */
@media all and (min-width: 739px) {
    header h1 {
        top: 44%;
        left: 26%;
        font-size: 25px;
    }
}
/* Laptop width 768px*1366px and DPR=1 */
@media all and (min-width: 768px) and (min-resolution: 1dppx) {
    header h1 {
        top: 18%;
        left: 26%;
        font-size: 25px;
    }
}
/* Tablet menu IPAD - 768px*1024px and DPR=2 */
@media all and (min-width: 768px) and (min-resolution: 2dppx) {
    header h1 {
        top: 16%;
    }
}
/* Laptop with MDPi 1280px*800px */
@media all and (min-width: 800px) and (min-resolution: 1dppx) {
    header h1 {
        top: 13%;
    }
}
/* Nexus 10 Android 800px*1280px and DPR:2 && Tablet menu Kindle Fire 800px*1280px and DPR=2 */
@media all and (min-width: 800px) and (min-resolution: 2dppx) {
    header h1 {
        top: 13%;
    }
}
/* Laptop width 1536px*864px DPR=1 */
@media all and (min-width: 864px) and (min-resolution: 1dppx) {
    header h1 {
        top: 18%;
    }
}
/* Mobile menu Iphon X/XS - 375px*812px and DPR=3  */
@media all and (min-width: 812px) and (min-resolution: 3dppx) {
    header h1 {
        top: 43%;
    }
}
/* Mobile menu Pixel 2 XL - 411px*823px DPR=3.5 */
@media all and (min-width: 823px) and (min-resolution: 3.5dppx) {
    header h1 {
        top: 34%;
    }
}
/* Mobile menu Galaxy Note 9 - 414px*846px DPR=3.5 */
@media all and (min-width: 846px) and (min-resolution: 3.5dppx) {
    header h1 {
        top: 41%;
    }
}
/* Mobile menu Iphon XR  414px*896px DPR=2 */
@media all and (min-width: 896px) and (min-resolution: 2dppx) {
    header h1 {
        top: 38%;
        left: 29%;
    }
}
/* Laptop with HiDPI - 1440px*900px and DPR=2 */
@media all and (min-width: 900px) and (min-resolution: 2dppx) {
    header h1 {
        top: 11%;
    }
}
/* Mobile menu Nexus 7 Android - 600px*960px and DPR=2 */
@media all and (min-width: 960px) and (min-resolution: 2dppx) {
    header h1 {
        top: 23%;
        left: 32%;
        font-size: 22px;
    }
    .classImg img {
        width: 70vw;
    }
}
/* Width 983px */
@media all and (min-width: 983px) {
    header h1 {
        top: 18%;
    }
}
/* Laptop width 1024px and 1280px and DPR=1 */
@media all and (min-width: 1024px) and (min-resolution: 1dppx) {
    header h1 {
        top: 18%;
        left: 28%;
        font-size: 27px;
    }
    main {
        width: 1000px;
        border: 3px solid rgb(242, 243, 248);
        border-radius: 20px;
        background-color: #f5f5f5;
    }
    section h2, .sectionH4TitleComments,.pControlPanelPage, .pError {
        color: #025AA0;
    }
    .loginFormPseudo label, .loginFormEmail label, .loginFormPassword label,.loginFormNewPassword label, .loginFormNewPassword2 label, label[for=email], th, td,
     .loginFormTitle label, .loginFormContent label {
        color:#025AA0;
    }
    .loginFormPseudo span, .loginFormEmail span, .loginFormPassword span, .loginFormNewPassword span, .loginFormNewPassword2 span, .aNewPassword, .aNewPassword span,
    .loginFormTitle span, .loginFormContent span {
        color: #0265b3;
    }
    .homeTitle, .myProfileTitle, .episodeListTitle, .createAnEpisodeTitle, .commentsTitle, .logoutTitle {
        background-color: #025AA0;
        color: #FFF;
        border: inset #013E70;        
    }
    footer p {
        color: rgb(255, 255, 255);
    }
}
/* Tablet menu IPAD - 768px*1024px and DPR=2 */
@media all and (min-width: 1024px) and (min-resolution: 2dppx) {
    header h1 {
        top: 22%;
        left: 31%;
    }
}
/* Tablet menu Ipad Pro 12,9-inch - 1024px*1366px and DPR=2 */
@media only screen and (device-width: 1024px) and (device-height: 1366px) and (min-resolution: 2dppx) {
    header h1 {
        top: 11%;
    }
}
/* TV Full HD - 1080px*1920px DPR=1 */
@media all and (min-width: 1080px) and (min-resolution: 1dppx) {
    header h1 {
        top: 10%;
        left: 32%;
    }
}
/* Laptop width 1200px and 1600px and DPR=1 */
@media all and (min-width: 1200px) and (min-resolution: 1dppx) {
    header h1 {
        top: 23%;
    }
}
/* Laptop with MDPi 1280px*800px */
@media all and (min-width: 1280px) and (min-resolution: 1dppx) {
    header h1 {
        top: 29%;
        left: 33%;
        font-size: 29px;
    }
}
/* Nexus 10 Android 800px*1280px and DPR:2 && Tablet menu Kindle Fire 800px*1280px and DPR=2 */
@media all and (min-width: 1280px) and (min-resolution: 2dppx) {
    header h1 {
        top: 23%;
        left: 33%;
    }
}
/* Laptop width 1366px and 768px and DPR=1 */
@media all and (device-width: 1366px) and (device-height: 768px) and (min-resolution: 1dppx) {
    header h1 {
        top: 25%;
    }
}
/* Laptop width HiDPI - 1440px*900px and DPR=2 */
@media all and (min-width: 1400px) and (min-resolution: 2dppx) {
    .classImg img {
        width: 50vw;
    }
    header h1 {
        top: 18%;
        left: 34%;
        font-size: 28px;
    }
}
/* Desktop menu  1745px */
@media all and (min-width: 1745px) {
    header h1 {
        top: 25%;
        left: 37%;
        font-size: 32px;
    }
}
/* TV Full HD - 1080px*1920px DPR=1 */
@media all and (min-width: 1920px) and (min-resolution: 1dppx) {
    header h1 {
        top: 18%;
        left: 35%;
        font-size: 42px;
    }
    .classImg img {
        width: 60vw;
    }
}
/* 4K Ultra HD Television - 3840*2160px */
@media all and (min-width: 2160px) and (min-resolution: 1dppx) {
    header h1 {
        top: 9%;
        left: 24%;
        font-size: 75px;
    }
    .classImg img {
        width: 60vw;
    }
    .logo {
        font-size: 4.6rem;
    }
    .item {
        font-size: 3.5rem;
    }
    .menu li a {
        padding: 35px 30px;
    }
    .item.button {
        padding: 9px 80px;
    }
    .classImg img {
        width: 86vw;
    }
    body {
        font-size: 2rem;
    }
    p {
        width: 1700px;
    }
    article, section h2, article h3, .linkPreviousPost, .linkNextPost, .linkPreviousPage, .linkNextPage, footer {
        margin: 3.5rem 0rem;
    }
    .linkPreviousPost, .linkNextPost, .linkPreviousPage, .linkNextPage {
        padding: 15px 15px;
    }
    article h5 {
        margin-bottom: 0;
        padding-left: 2%;
        margin-top: 3.5rem;
    }
    .linkPreviousPost, .linkNextPost {
        margin-left: 17.5%;
    }
    .sectionH4TitlePostComment {
        margin-left: 4rem;
        margin-top: 3.5rem;
    }
    .sectionPostComment, .pCreatedAt, .sectionH4TitleComments {
        margin-bottom: 3.5rem;
    }
    h3 {
        font-size: 3.75rem;
    }
    main {
        width : 2000px;
    }
    .linkToTheRestOfThePost, .linkReadTheEntireEpisode, .inputTypeSubmitPublishComment, .linkToTheReportOfThePostComment, .inputTypeSubmitValidateLogin, .inputTypeSubmitRenewPassword, .inputTypeSubmitChangePassword, .inputTypeSubmitSaveDraft, .inputTypeSubmitPreview, .inputTypeSubmitPublish, .homeTab, .myProfileTab, .episodeListTab, .createAnEpisodeTab, .commentsTab, .logoutTab {
        width: 20rem;
        padding: 15px 15px;
    }
    .linkReadTheEntireEpisode {
        width: 36rem;
    }
    .h3, h3 {
        font-size: 2.75rem;
    }
    .form-control {
        font-size: 2.5rem;
    }
    .btn, #body-sign-in, .text-muted {
        font-size: 2rem;
    }
    .btn-lg {
        font-size:2.5rem;
    }
}
/* 4K Ultra HD Television - 3840*2160px */
@media all and (min-width: 3840px) and (min-resolution: 1dppx) {
    .logo {
        font-size: 5.6rem;
    }
    .item {
        font-size: 3.5rem;
    }
    .menu li a {
        padding: 35px 130px;
    }
    .item.button {
        padding: 9px 230px;
    }
    header h1 {
        top: 22%;
        left: 30%;
        font-size: 107px;
    }
    .classImg img {
        width: 86vw;
    }
    body {
        font-size: 3rem;
    }
    p {
        width: 2700px;
    }
    article, section h2, article h3, .linkPreviousPost, .linkNextPost, .linkPreviousPage, .linkNextPage, footer {
        margin: 3.5rem 0rem;
    }
    .linkPreviousPost, .linkNextPost, .linkPreviousPage, .linkNextPage {
        padding: 35px 35px;
    }
    article h5 {
        margin-bottom: 0;
        padding-left: 2%;
        margin-top: 3.5rem;
    }
    .linkPreviousPost, .linkNextPost {
        margin-left: 17.5%;
    }
    .sectionH4TitlePostComment {
        margin-left: 4rem;
        margin-top: 3.5rem;
    }
    .sectionPostComment, .pCreatedAt, .sectionH4TitleComments {
        margin-bottom: 3.5rem;
    }
    h3 {
        font-size: 3.75rem;
    }
    main {
        width : 3000px;
    }
    .linkToTheRestOfThePost, .linkReadTheEntireEpisode, .inputTypeSubmitPublishComment, .linkToTheReportOfThePostComment, .inputTypeSubmitValidateLogin, .inputTypeSubmitRenewPassword, .inputTypeSubmitChangePassword, .inputTypeSubmitSaveDraft, .inputTypeSubmitPreview, .inputTypeSubmitPublish, .homeTab, .myProfileTab, .episodeListTab, .createAnEpisodeTab, .commentsTab, .logoutTab {
        width: 20rem;
        padding: 35px 35px;
    }
    .linkReadTheEntireEpisode {
        width: 36rem;
    }
}